@use '../../styles/App.scss';

#auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: App.$padding;
	padding: App.$padding;
	padding-top: calc(App.$padding * 2);
	padding-bottom: calc(App.$padding * 5);
}

#auth > form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	max-width: calc(App.$maxWidth / 1.25);
	padding: App.$paddingContainer;
	gap: App.$paddingContainer;
	outline: var(--outline-focus);
	background-color: var(--background-color);
}

#auth > form > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: App.$paddingSmall;
}

#auth > form > main {
	display: flex;
	flex-direction: column;
	gap: App.$padding;
}

#auth > form > main > button {
	margin-top: App.$padding;
}

#auth > form > footer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: App.$paddingSmall;
}