@use '../App.scss';

#error {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: App.$padding;
	gap: App.$padding;
	text-align: center;
}

#error > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: App.$padding;
	outline: var(--outline-focus);
}

#error > div > h1 {
	height: fit-content;
}

#error > div > div {
	padding: App.$padding;
}

#error > div > button {
	text-decoration: none;
	background: var(--primary-gradient);
}