@use '../App.scss';

#friends {
	display: flex;
	width: 100%;
	margin-top: calc((App.$height) + (App.$padding * 2));
	padding: App.$padding;
	gap: App.$padding;
}

#friends > #findUser {
	position: fixed;
	right: calc(App.$padding * 2);
	bottom: calc(App.$padding * 2);
	min-height: App.$height;
	max-height: App.$height;
	width: App.$height;
	padding: 0;
	box-shadow: none;
}

#friends > #findUser > a {
	color: white;
	background: var(--primary-gradient);
}

#friends > main {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border: 0.1rem solid transparent;
	gap: App.$padding;
	background: var(--background-color);
}

#friends > main > header {
	display: flex;
	gap: App.$padding;
}

#friends > main > div {
	display: flex;
	align-items: center;
	padding: App.$padding;
	max-height: App.$height;
	outline: var(--outline-focus);
	background: var(--background-color);
}

#friends > main > header > button {
	outline: var(--outline-focus);
}

#friends > main > button {
	background: var(--background-color);
	outline: var(--outline-focus);
}

#friends > footer {
	display: none;
	flex: 1;
	height: 100%;
	box-shadow: var(--shadow);
	background: var(--background-color-shade);
}

@media screen and (min-width: App.$maxWidth) {
	#friends {
		margin-left: calc(App.$maxWidthSmall - (App.$padding * 2.5));
	}
}

@media screen and (min-width: App.$maxWidthLarge) {
	#friends > footer {
		display: flex;
	}
}