@use '../App.scss';

#users {
	display: flex;
	width: 100%;
	margin-top: calc((App.$height) + (App.$padding * 2));
	padding: App.$padding;
}

#users > main {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border: 0.1rem solid transparent;
	gap: App.$padding;
}

#users > main > header {
	display: flex;
	gap: App.$padding;
}

#users > main > div {
	display: flex;
	align-items: center;
	height: App.$height;
	padding: App.$padding;
	outline: var(--outline-focus);
}

#users > main > button {
	background: var(--background-color);
	outline: var(--outline-focus);	
}

#users > footer {
	display: none;
	flex: 1;
	height: 100%;
	box-shadow: var(--shadow);
	background: var(--background-color-shade);
}
