@use '../App.scss';

.commentCard {
	position: relative;
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: App.$padding;
	padding-left: 0;
	padding-right: 0;
	gap: App.$padding;
	border-radius: 0;
	border-bottom: var(--outline-focus);
}

.commentCard:first-child {
	padding-top: 0;
}

.commentCard > header {
	display: flex;
	width: 100%;
	gap: App.$padding;
	z-index: 1;
}

.commentCard > header > a {
	width: fit-content;
	padding: 0;
}

.commentCard > header > a:last-of-type {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: start;
	box-shadow: none;
	outline: none;
	text-decoration: none;
	background: transparent;
}

.commentCard > a {
	position: absolute;
	left: 0;
	top: 0;
	height: calc(100% - (App.$height + App.$padding));
	box-shadow: none;
	outline: none;
	background: transparent;
	z-index: 1;
}

.commentCard > a:hover,
.commentCard > header > a:last-of-type:hover {
	box-shadow: none;
	outline: none;
	background: transparent;
}

.commentCard > main {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: App.$padding;
}

.commentCard > main > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10rem;
	overflow: hidden;
}

.commentCard > main > div > img:first-of-type {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 50%;
	filter: blur(1rem);
	-webkit-filter: blur(1rem);
}

.commentCard > footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: end;
	gap: App.$padding;
	height: 100%;
}

.commentCard > footer > button {
	width: fit-content;
	gap: App.$paddingSmall;
	height: calc(App.$height / 1.5);
	padding: App.$paddingSmall;
	border: var(--outline-focus);
	background: var(--background-color);
}

.commentCard > form {
	display: flex;
	flex-direction: column;
	border: 0.1rem solid transparent;
	gap: App.$padding;
}

.commentCard > form textarea {
	min-height: 100%;
	height: auto;
	overflow: hidden;
}

.commentCard > form > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	align-items: end;
	gap: App.$padding;
}

.commentCard > form > div > button {
	width: fit-content;
	outline: var(--outline-focus);
}

.commentCard > form > div > button:last-of-type {
	min-width: calc(App.$height * 2);
	outline: var(--outline-focus);
}


@media screen and (min-width: App.$maxWidthLarge) {
	.commentCard > main {
		display: flex;
	}
}