@use '../App.scss';

.postCard {
	position: relative;
	display: flex;
	flex-direction: column;
	height: fit-content;
	padding: App.$padding;
	gap: App.$padding;
	overflow: hidden;
	background: var(--background-color-shade-max);
}

.postCard > header {
	display: flex;
	width: 100%;
	gap: App.$padding;
	z-index: 0;
}

.postCard > header > a {
	width: fit-content;
	padding: 0;
}

.postCard > header > a:last-of-type {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: start;
	box-shadow: none;
	outline: none;
	text-decoration: none;
	background: transparent;
}

.postCard > a {
	position: absolute;
	left: 0;
	top: 0;
	height: calc(100% - (App.$height + App.$padding));
	box-shadow: none;
	outline: none;
	background: transparent;
}

.postCard > a:hover,
.postCard > header > a:last-of-type:hover {
	box-shadow: none;
	outline: none;
	background: transparent;
}

.postCard > main {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: App.$padding;
}

.postCard > main > div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 10rem;
	overflow: hidden;
}

.postCard > main > div > img:first-of-type {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 50%;
	filter: blur(1rem);
	-webkit-filter: blur(1rem);
}

.postCard > footer {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: end;
	gap: App.$padding;
	height: 100%;
}

.postCard > footer > button {
	width: fit-content;
	gap: App.$paddingSmall;
	height: calc(App.$height / 1.5);
	padding: App.$paddingSmall;
	background: transparent;
}

@media screen and (min-width: App.$maxWidthLarge) {
	.postCard > main {
		display: flex;
	}
}