@use '../../styles/App.scss';

#popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100%;
	padding: App.$padding;
	transition: transform App.$transition;
	z-index: 2;
}

#popup.active {
	transform: translateY(0%);
}

#popup.hidden {
	transform: translateY(-100%);
}

#popup > button {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
	background: transparent;
	box-shadow: 0 0 0 0;
	outline: none;
}

#popup.active > button {
	opacity: 100%;
	transition: opacity App.$transition 0.2s;
}

#popup.hidden > button {
	opacity: 0;
	transition: opacity App.$transition;
}

#popup > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: App.$padding;
	gap: App.$padding;
	width: 100%;
	max-width: App.$maxWidthSmall;
	outline: var(--outline-focus);
	background: var(--background-color);
}

#popup > div > svg {
	width: App.$height;
}

#popup > div > div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: calc(App.$padding / 1.5);
	text-align: center;
}
