@use '../../styles/App.scss';

#popup {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: App.$padding;
	transition: transform App.$transition;
	backdrop-filter: blur(1rem);
	-webkit-backdrop-filter: blur(1rem);
	z-index: 1;
}

#popup.active {
	transform: translateY(0%);
}

#popup.hidden {
	transform: translateY(-100%);
}

#popup > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: App.$padding;
	gap: App.$padding;
	width: 100%;
	max-width: App.$maxWidth;
	background: var(--background-color-shade);
}

#popup > div > div {
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: center;
	min-height: App.$height;
}
