$maxWidth: 30rem;
$maxWidthSmall: 17.5rem;
$height: 3rem;

$paddingSmall: 0.5rem;

$padding: 1rem;
$paddingContainer: calc($padding * 2);
$borderRadius: 0.5rem;
$transition: 0.5s ease;

$fontLarge: 1.5rem;
$fontNormal: 1rem;
$fontSmall: 0.75rem;

[data-theme='dark'] {
	--background-color: rgb(22, 22, 25);
	--background-color-shade: rgb(30, 30, 35);
	--background-color-shade-max: rgb(40, 40, 46);
	--background-color-focus: rgb(42, 42, 58);
	--text-color: white;
	--primary: rgb(65, 43, 239);
	--outline: 0.1rem solid rgb(40, 40, 46);
	--outline-focus: 0.1rem solid rgb(32, 32, 40);
	--box-shadow: 0 0 0 0.2rem rgb(65, 43, 239);
	--shadow: 0 0 0.4rem 0 rgba(10, 10, 13, 0.5);
}

[data-theme='light'] {
	--background-color: rgb(244, 244, 248);
	--background-color-shade: rgb(255, 255, 255);
	--background-color-shade-max: rgb(244, 244, 248);
	--background-color-focus: rgb(235, 235, 238);
	--text-color: black;
	--primary: rgb(131, 115, 255);
	--outline: 0.1rem solid rgb(244, 244, 248);
	--outline-focus: 0.1rem solid rgb(235, 235, 238);
	--box-shadow: 0 0 0 0.2rem rgb(131, 115, 255);
	--shadow: 0 0 0.4rem 0rem rgba(15, 15, 18, 0.1);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	font-size: $fontNormal;
	font-weight: 500;
	line-height: 1.5;
	border-radius: $borderRadius;
	border-style: none;
	list-style: none;
	outline: 0.1rem solid transparent;
	color: var(--text-color);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus {
	outline: var(--outline-focus);
	box-shadow: var(--box-shadow);
	background-color: var(--background-color-focus);
}

::-webkit-scrollbar {
	display: none;
}

::placeholder {
	opacity: 50%;
	color: var(--text-color);
}

button:hover, input:hover, a:hover, .labelFile > main:hover {
	outline: var(--outline);
	box-shadow: var(--box-shadow);
}

@keyframes pulse {
	0% {
		transform: scale(1);
	} 50% {
		transform: scale(0.75);
	} 100% {
		transform: scale(1);
	}
}

html, body, #root {
	display: flex;
	width: 100%;
	min-height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
}

img, svg {
	display: flex;
	flex-direction: column;
	text-align: start;
	width: $height;
	height: $height;
	object-fit: cover;
}

.logo {
	padding: $paddingSmall;
}

svg {
	width: fit-content;
	height: fit-content;
}

h1 {
	font-size: $fontLarge;
}

p {
	font-size: $fontSmall;
}

button {
	cursor: pointer;
}

button, input, a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $height;
	padding: $padding;
	transition: box-shadow $transition, outline-color $transition, transform $transition;
	background-color: var(--background-color-shade-max);
}

.transparentLink {
	width: fit-content;
	height: fit-content;
	padding: 0;
	font-size: $fontSmall;
	background: transparent;
}

.primaryButton {
	background: var(--primary);
}

.transparentButton {
	width: fit-content;
	background: transparent;
}

label {
	display: flex;
	flex-direction: column;
	gap: $paddingSmall;
}

.labelPassword {
	position: relative;
}

.labelPassword > label > input {
	padding-right: calc($height + $padding);
}

.labelPassword > button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: fit-content;
	background: transparent;
}

.labelFile {
	display: flex;
	cursor: pointer;
}

.labelFile > main {
	display: flex;
	width: 100%;
	transition: box-shadow $transition, outline-color $transition, transform $transition;
	background: var(--background-color-shade-max);
}

.labelFile > main > svg,
.labelFile > main > img {
	border-radius: 1rem;
	padding: $paddingSmall;
	height: $height;
}

.labelFile > input {
	display: none;
}
